# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock
*.cache

build

# Dependency directories
node_modules/

# dotenv environment variables file
.env

# firebase project
.firebaserc
.runtimeconfig.json

.vscode